.description{
    text-align: center;
    padding: 15px 0px 5px 0px;
    font-size: medium;
    color: black;
    font-family: "Open Sans";
    letter-spacing: -0.05em;
    font-weight: bold;
    font-style: normal
}

.fields{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: medium;
    color: black;
    border-width: 1px;
    border-radius: 5px;
    height: 28px;
}


.checkboxes{
    display: flex;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 15px 0px 15px 0px;
    font-size: medium;
    color: black;
    font-family: "Open Sans";
    letter-spacing: -0.05em;
    font-weight: normal;
    font-style: normal
}

.box{
    margin-right: 10px;
    margin-top:20px;
}

label{

    margin-right: 15px;
    margin-left: 15px;
    height: 25px;
    width: 25px;

}


.submitButton{
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    font-family: "Open Sans";
    letter-spacing: -0.05em;
    font-size: medium;
    font-weight: bold;
    font-style: normal;
    color:white;
    background-color: #81d742;
    border: 2px solid #81d742;
    padding: 10px 70px 10px 70px;

}
